In [1]:
# Define variables with numbers
one = 1
two = 2
three = 3
four = 4

# Define variables with strings (remove unnecessary quotes)
can = can
do = do
python = python
more = more

# Combine variables using string concatenation
output_string = str(one) + " " + str(two) + " " + str(three) + " " + str(four) + " " + can + " " + do + " " + python + " " + more

# Print the output
print(output_string)

<class 'NameError'>: name 'can' is not defined

In [2]:
# Define variables with numbers
number1 = 15
number2 = 30

# Perform multiplication using the asterisk (*) operator
result = number1 * number2

# Print the result with a message
print("The result is", result)

The result is 450

In [3]:
def check_first_last(numbers):
  """
  This function checks if the first and last element of a list are the same.

  Args:
      numbers: A list of numbers.

  Returns:
      True if the first and last element are the same, False otherwise.
  """
  if len(numbers) > 0:
    return numbers[0] == numbers[-1]
  else:
    return False

# Sample usage
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print("Given list:", numbers_x)
print("result is", check_first_last(numbers_x))

print("Given list:", numbers_y)
print("result is", check_first_last(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [4]:
# Define the list of numbers
numbers = [10, 20, 33, 46, 55]

print("Given list is", numbers)
print("Divisible by 5:")

# Iterate through the list
for number in numbers:
  # Check if the number is divisible by 5 using the modulo operator (%)
  if number % 5 == 0:
    print(number)

Given list is [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [5]:
def count_substring(text, substring):
  """
  This function counts the number of times a substring appears in a given text.

  Args:
      text: The text to search.
      substring: The substring to count.

  Returns:
      The number of times the substring appears in the text.
  """
  count = 0
  # Iterate through the text with a sliding window of length equal to the substring length
  for i in range(len(text) - len(substring) + 1):
    # Check if the current substring matches the target substring
    if text[i:i + len(substring)] == substring:
      count += 1

  return count

# Sample usage
str_x = "Anjali is good developer. Anjali is a writer"
substring = "Anjali"

# Call the function and print the result
result = count_substring(str_x, substring)
print("Anjali appeared", result, "times")

Anjali appeared 2 times

In [6]:
# Define the number of rows
rows = 5

# Loop through each row
for i in range(1, rows + 1):
  # Print the current number i times
  for j in range(i):
    print(i, end=" ")
  # Move to a new line after each row
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
# Define the starting and ending numbers for the multiplication table
start_num = 1
end_num = 10

# Loop through each row (multiplier)
for i in range(start_num, end_num + 1):
  # Print the current row label (multiplier)
  print(i, end=" ")

  # Loop through each column (multiplicand)
  for j in range(start_num, end_num + 1):
    # Calculate the product and print it with a space
    product = i * j
    print(product, end=" ")

  # Move to a new line after each row
  print()

1 1 2 3 4 5 6 7 8 9 10
2 2 4 6 8 10 12 14 16 18 20
3 3 6 9 12 15 18 21 24 27 30
4 4 8 12 16 20 24 28 32 36 40
5 5 10 15 20 25 30 35 40 45 50
6 6 12 18 24 30 36 42 48 54 60
7 7 14 21 28 35 42 49 56 63 70
8 8 16 24 32 40 48 56 64 72 80
9 9 18 27 36 45 54 63 72 81 90
10 10 20 30 40 50 60 70 80 90 100

In [8]:
import numpy as np

# Define the list of temperatures in Kelvin
Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

# Convert the list to a NumPy array
temp_array = np.array(Temp_K)

# Conversion factor from Kelvin to Celsius
kelvin_to_celsius = -273.15

# Convert Kelvin to Celsius
celsius_array = temp_array + kelvin_to_celsius

# Print the resulting array of temperatures in Celsius
print("Temperatures in Celsius:", celsius_array)

Temperatures in Celsius: [ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [52]:
import pandas as pd

# Create a dictionary with student information
data = {
    "Student": ["Tommy", "Fred", "Gail", "Sahith", "Randy", "Ariel"],
    "Hair Color": ["Brown", "Grey", "Blonde", "Black", "Black", "Brown"],
    "Eye Color": ["Hazel", "Green", "Blue", "Black", "Hazel", "Blue"],
    "Weight (kg)": [60, 80, 76, 60, 88, 85]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
df

  Student Hair Color Eye Color  Weight (kg)
0   Tommy      Brown     Hazel           60
1    Fred       Grey     Green           80
2    Gail     Blonde      Blue           76
3  Sahith      Black     Black           60
4   Randy      Black     Hazel           88
5   Ariel      Brown      Blue           85

In [53]:
# Set the index (optional)
df = df.set_index("Student") 
# Access a row by student name 
print(df.loc["Sahith"])  # Access row for student named "Sahith"

# Access a specific column by label
print(df.loc[:, "Hair Color"])  # Access all rows in the "Hair Color" column

Hair Color     Black
Eye Color      Black
Weight (kg)       60
Name: Sahith, dtype: object
Student
Tommy      Brown
Fred        Grey
Gail      Blonde
Sahith     Black
Randy      Black
Ariel      Brown
Name: Hair Color, dtype: object

In [54]:

# Print the entire DataFrame
print("Entire DataFrame:\n", df)

Entire DataFrame:
         Hair Color Eye Color  Weight (kg)
Student
Tommy        Brown     Hazel           60
Fred          Grey     Green           80
Gail        Blonde      Blue           76
Sahith       Black     Black           60
Randy        Black     Hazel           88
Ariel        Brown      Blue           85

In [55]:

# Print hair color column as Series
print("\nHair Color:\n", df["Hair Color"])

Hair Color:
 Student
Tommy      Brown
Fred        Grey
Gail      Blonde
Sahith     Black
Randy      Black
Ariel      Brown
Name: Hair Color, dtype: object

In [56]:
# Print eye color column as DataFrame (it's already a DataFrame)
print("\nEye Color:\n", df[["Eye Color"]])

Eye Color:
         Eye Color
Student
Tommy       Hazel
Fred        Green
Gail         Blue
Sahith      Black
Randy       Hazel
Ariel        Blue

In [59]:
# Print DataFrame with student and weight columns
print("\nStudent and Weight:\n", df[["Weight (kg)"]])

Student and Weight:
          Weight (kg)
Student
Tommy             60
Fred              80
Gail              76
Sahith            60
Randy             88
Ariel             85

In [60]:

# Print second through fourth observations
print("\nObservations 2-4:\n", df.iloc[1:4])

Observations 2-4:
         Hair Color Eye Color  Weight (kg)
Student
Fred          Grey     Green           80
Gail        Blonde      Blue           76
Sahith       Black     Black           60